# This is an example .env file for UHTFC Payload CMS project. You can copy this file to .env and fill in the values as needed.
# Variables with NEXT_PUBLIC_ prefix are exposed to the frontend and can be accessed in the browser.
# Payload CMS secret key used for signing tokens and securing backend authentication
PAYLOAD_SECRET="payload_secret_key_here"

# Public URL for the app runtime
NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3000
VERCEL_PROJECT_PRODUCTION_URL= http://localhost:3000

# Mapbox token for map rendering in the frontend
NEXT_PUBLIC_MAPBOX_TOKEN=mapbox_token_here
# MailSend token for sending emails from the frontend
MAILSEND_TOKEN=mailsend_token_here
# Mailsend Template
MAILSEND_SHARED_WEBSITE_TEMPLATE_ID=mailsend_template_id_here
    
    
    