.mfa-holder {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.marker-settings {
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 3em;
  width: 100%;
  position: absolute;
  z-index: 10000000;
  .buttons-row {
    display: flex;
    gap: 0.8em;
  }
}
